body {
    margin-right: auto;
    margin-left:  auto;
    font-family: 'Roboto', sans-serif;
    max-width: 1280px;

}
div {
    width: 334px;
    height: 79px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.logo a {
    font-weight: 400;
    font-size: 80px;
    line-height: 79px;
    display: flex;
    color: black;
    align-items: flex-end;
    text-align: center;
}
.logo a span {
    color: #4BCAFF;
}
.nav-1 {
    height: 70px;
    background-color: #35444F;
    margin-top: 40px;
}
.nav-1 li  {
    font-weight: 400;
    font-size: 24px;
    border-left: 1px solid white;
    padding: 0 45px;

}
.nav-1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
   line-height: 70px;
}
.nav-1 li a {
    color: #FFFFFF;
}
.nav-1 li:last-of-type {
    border-right: 1px solid white;
}
aside.main-menu {
    width: 344px;
    height: 400px;
    border: 1px solid black;
    margin-top: 49px;
    box-sizing: border-box;
}
a.mm {
    height: 50px;
    padding: 20px;
    transition: all .30s ease;
}
a.mm:hover {
    background-color: #DBDBDB;
}
.main-menu a {
    font-weight: 400;
    font-size: 27px;
}
.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main {
    display: flex;
    height: 900px;
}

.main-banner {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-top: 49px;
    margin-left: 52px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.content-1 {
    width: 885px;
    height: 120px;
    margin-left: 52px;
    margin-top: 37px;
}
section.content-2 {
    width: 885px;
    height: 109px;
    margin-left: 52px;
    margin-top: 32px;
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

div.footer {
    display: flex;
    width: auto;
    height: 69px;
    background-color: #63696E7A;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
}
section.content-footer {
    width: 875px;
    height: 28px;
    justify-content: space-between;
}
section.content-footer p.c-f {
    font-weight: 400;
    font-size: 28px;

}
section.copyright {
    width: 190px;
    height: 69px;
    margin-left: 135px;
}
section.copyright p.svg {
    font-weight: 400;
    font-size: 24px;
}
section.content-footer p.color {
    color: #3181A6;
}
.nav-list-link::after {
    content: "";
    background: steelblue;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all .25s ease;
    transform: scaleX(0);
}
.nav-list-link {
    position: relative;
}
.nav-list-link:hover::after {
    transform: scaleX(1);
}
p.c-f.color {
    position: relative;
}
p.c-f.color::after {
    content: "";
    background: steelblue;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all .25s ease;
    transform: scaleX(0);
}
p.c-f.color:hover::after {
    transform: scaleX(1);
}
.banner {
    transition: 1s;
}
.banner:hover {
    transform: scale(1.1);
}
